<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bachatgat Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Bachatgat Registration</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="{{ url_for('register') }}">
                            <div class="form-group">
                                <input type="text" name="gatName" id="gatName" class="form-control input-sm" placeholder="Bachatgat Name" required>
                            </div>
                            <div class="form-group">
                                <input type="number" name="memberCount" id="memberCount" class="form-control input-sm" placeholder="Member Count" required>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control input-sm" id="address" name="address" placeholder="Address" rows="3" required></textarea>
                            </div>
                            <div class="form-group">
                                <input type="tel" name="contactNumber" id="contactNumber" class="form-control input-sm" placeholder="Contact Number" required>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address" required>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password" required>
                            </div>
                            <input type="submit" value="Register" class="btn btn-info btn-block">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
